* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
p,  {
    font-family: Helvetica;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #2D0303;
    font-family: Helvetica, Arial;
}

body {
    background-color: #0bb1f3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    margin: 0 auto;
    padding: 20px 0;
    width: 50%;
}

th { 
    font-size: 18px;
    background-color: #ec7d16;
    text-transform: uppercase;

}
th, td {
    text-align: left;
    border: 1px solid;
    padding: 20px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color: #2D0303;
    text-align: center;
}
h3 {
    text-align: right;
    background-color: #03455fdc;
}
